In [2]:
import pandas as pd
import numpy as np

In [3]:
data = {
    'sale_id': range(1, 1000001),
    'customer_id': np.random.randint(1, 100001, size=1000000),
    'product_id': np.random.randint(1, 10001, size=1000000),
    'quantity': np.random.randint(1, 20, size=1000000),
    'sale_date': pd.date_range(start='1/1/2022', periods=1000000, freq='H'),
    'region': np.random.choice(['North', 'South', 'East', 'West'], size=1000000),
}

df = pd.DataFrame(data)
df[:10]

/tmp/ipykernel_550/2741516871.py:6: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  'sale_date': pd.date_range(start='1/1/2022', periods=1000000, freq='H'),

   sale_id  customer_id  product_id  quantity           sale_date region
0        1        45278        9213         1 2022-01-01 00:00:00  North
1        2        44811          69         5 2022-01-01 01:00:00   East
2        3         7154        2862        15 2022-01-01 02:00:00  South
3        4        34042        5712        18 2022-01-01 03:00:00   West
4        5        94784        5179         1 2022-01-01 04:00:00   East
5        6        74895        8471         2 2022-01-01 05:00:00   West
6        7        94773        4901        13 2022-01-01 06:00:00  North
7        8        57108        4509         8 2022-01-01 07:00:00  North
8        9        95417        2671        19 2022-01-01 08:00:00  North
9       10        60846        6748        11 2022-01-01 09:00:00  North

In [4]:
df.drop_duplicates(inplace=True)

# Агрегация данных
# aggregated_data = df.groupby(['region', 'product_id']).agg(
#     total_sales=('quantity', 'sum'),
#     average_sale_amount=('quantity', 'mean'),
# ).reset_index()

# aggregated_data[:10]
df.to_csv('sales_data.scv', index=False)